<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
</head>
<body>
<table class="table table-hover">

    <h3>Logged User:<p th:text="${logged_user}"></p></h3>
    <br/>

    <thead>
    <tr>
        <td>Id</td>
        <td>Salary</td>

    </tr>
    </thead>


    <tr th:each="s : ${salary}">
        <td th:text="${s.id}"></td>
        <td th:text="${s.value}"></td>
    </tr>

</table>
<br/>
<br/>
<a href="#" th:href="@{/logout}">
    <button class="btn btn-info" type="button">Logout</button>
</a>

</body>
</html>